@charset "UTF-8";

@import "variables";
@import "mixin";

@font-face {
  font-family: "YuGothic M";
  src: local("Yu Gothic Medium"),
       local("Yu Gothic");
  font-weight: 500;
       /*
         Chrome 58.0.3029.110 (64-bit) では
         "Yu Gothic Medium" を認識しないバグあるため
         "Yu Gothic" と font-weight も併せて指定。
       */
}

/* Base ---------------------- */
html {
	margin: 0;
	padding: 0;
	@include fontsize(15);
	font-family: $basefont;
	line-height: 1.6;
	letter-spacing: 1.5px;
	font-feature-settings: "palt" 1;
	text-align: justify;
	color: $color-text;
}
body {
	height:100%;
}

a {
	color: $color-text;
	&:hover {
		color: $color-footer;
	}
}
