@charset "UTF-8";

@import "variables";
@import "mixin";

.l-wrapper {
	background: $color-wrap;
}
.container-split {
	width: 100%;
	height: auto;
	@include mq(large) {
		width: 50%;
		height: 100vh;
	}
	&-left {
		position: relative;
		background: url(../images/bg1s.jpg) no-repeat;
		background-size: cover;
		@include mq(large) {
			position: fixed;
		}
	}
	&-right {
		position: relative;
		right: 0;
		background-color: #f0fbfc;
		animation: bg-color 15s infinite;
	    -webkit-animation: bg-color 15s infinite;
		@include mq(large) {
			position: absolute;
			overflow-y: scroll;
		}
	}
	.inner {
		padding: 40px;
		&-left {
			@include flexbox();
			@include justify-content(center);
			@include align-items(center);
			height: 400px;
			@include mq(large) {
				margin-top: 50%;
			}
		}
	}
}
// グラデーション背景色
@-webkit-keyframes bg-color {
  0% { background-color: #f0fbfc; }
  30% { background-color: #f0f5fc; }
  60% { background-color: #f0fbfc; }
  100% { background-color: #f0fcf7; }
}
@keyframes bg-color {
  0% { background-color: #f0fbfc; }
  30% { background-color: #f0f5fc; }
  60% { background-color: #f0fbfc; }
  100% { background-color: #f0fcf7; }
}
/* Footer ---------------------- */
.l-footers {
	position: relative;
	bottom: 20px;
	width: 50%;
	text-align: center;
	@include mq(large) {
		position: fixed;
	}
}

/* Section ---------------------- */
