@charset "UTF-8";

@import "variables";

hr {
	margin-top: 30px;
	margin-bottom:  30px;
}
.size {
	&__small {
		width: 100px;
		height: auto;
	}
}
.btn {
	&__normal {
		padding: 8px 0;
		width: 240px;
		height: auto;
		border: 2px solid #000;
		@include fontsize(16);
		font-weight: bold;
		text-align: center;
	}
	&__primary {
		padding: 10px 15px;
		border: 2px solid $color1;
		border-radius: 1px;
		background: $color1;
		color: #fff;
		&:hover {
			border: 2px solid $color5;
			background: $color5;
		}
		a {
			color: #fff;
			&:hover, &:active, &:focus {
				color: #fff;
			}
		}
	}
	&__size {
		&_normal {
			padding: 15px 0;
			width: 200px;
			height: auto;
			text-align: center;
		}
	}
}

.pickup {
	position: relative;
	padding: 15px;
	width: 250px;
	height: 150px;
	background: url(../images/pic1.jpg) no-repeat;
	background-size: 100%;
	&::before {
		position: absolute;
		padding: 5px;
		content: 'ラベル';
	    top: 0;
	    left: 0;
		font-size: 13px;
		color: #fff;
		background: $color3;
	}
	&__link-text {
		position: absolute;
		left: 0;
		bottom: -30px;
	}
}

.section-line {
	&_center h2 {
		margin-bottom: 30px;
		font-size: 21px;
		font-weight: bold;
		border-top: 1px solid #000;
		text-align: center;
		&::before {
			content: '';
			margin: 0 auto;
			padding-top: 15px;
			display: block;
			width: 160px;
			border-top: 3px solid #000;
		}
	}
}
