@charset "UTF-8";

@import "variables";
@import "mixin";

.brand-name {
	font-family: 'Fredericka the Great', cursive, sans-serif;
	@include fontsize(38);
	line-height: 10;
	color: #fff;
	@include mq {
		line-height: 20;
	}
	@include mq(xlarge) {
		line-height: 30;
	}
}

p {
	margin-top: 20px;
	@include fontsize(15);
	line-height: 1.5;
}
.p-hannari {
	font-family: "Hannari";
}
.p-warasabi {
	font-family: "Sawarabi Mincho";
}

/* 見出し ---------------------- */
h1,.h1 {
	@include fontsize(32);
}
h2,.h2 {
	@include fontsize(24);
}
h3,.h3 {
	@include fontsize(20);
}
h4,.h4 {
	@include fontsize(18);
}
h5,.h5 {
	@include fontsize(15);
}

.heading {
	font-weight: bold;
	color: $color-text;
	&-01 {
		@include fontsize(20);
	}
	&-02 {
		margin-bottom: 15px;
		@include fontsize(18);
	}
	&-03 {
		@include fontsize(15);
	}
	&-xlarge {
		@include fontsize(28);
	}
	&-large {
		@include fontsize(24);
	}
	&-small {
		@include fontsize(14);
	}
	&-sectionTtl {
		margin-bottom: 25px;
		@include fontsize(32);
		font-family: 'Fredericka the Great', cursive, sans-serif;
	}
}

.note {
	padding: 10px 0;
	@include fontsize(14);
	color: darken($color-gray, 30%);
}

/* Footer ---------------------- */
footer {
	.copyright {
		@include fontsize(13);
		text-align: center;
		color: #fff;
	}
}
