$basefont: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "YuGothic M", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

$color-key: #da2823;
$color-text: #000;
$color-gray: #8c8585;
$color-wrap: #fbf5f2;
$color-header: #dff5f0;
$color-sub: #dfeff5;
$color-footer: #F4F4F8;

$color-pink: #f5e5df;
$color-blue: #dfeff5;
$color-blue2: #dfe4f5;
$color-green: #dff5f0;
$color-purple: #e5dff5;
