$basefont: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "YuGothic M", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

$color-text: #000;
$color-gray: #cac7cd;
$color-footer: #A7BED3;

/* RGB */
$color1: rgba(227, 181, 164, 1);
$color2: rgba(245, 233, 226, 1);
$color3: rgba(140, 28, 19, 1);
$color4: rgba(255, 176, 192, 1);
$color5: rgba(33, 2, 3, 1);
